{% extends "base.html" %}
<style>
    #tweet-container{
        
    }
</style>>

{% block script %}
    <script>
        function getParameterByName(name, url) {
        if (!url) {
          url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    
    
    
        $(document).ready(function(){
            var query = getParameterByName('q');
            var tweetList = [];
            var next_tweet_url;
            function attachTweet(tweetValue, prepend){

                var dateDisplay = tweetValue.date_display
                var tweetContent = tweetValue.content;
                var tweetUser = tweetValue.user;
                var tweetFormatHtml = "<div class=\"media\"><div class=\"media-body\">" + tweetContent + "<br/> via <a href='"+ tweetUser.url + "'>" + tweetUser.username + "</a> | " + dateDisplay +
                                      + " | " + "<a href='#'> View </a>" + "</div></div><hr/>"
                                      
                if(prepend == true){
                    $("#tweet-container").prepend(tweetFormatHtml);
                }
                else{
                    $("#tweet-container").append(tweetFormatHtml);
                }

                    
                
            }
                
            
            console.log(query)
            
            // if have tweet, parse them and display it
            
            function parseTweet(){
                if (tweetList == 0){
                    $("#tweet-container").text("no tweet found")
                }
                else{
                    $.each(tweetList, function(key, value){
                        var tweetKey = key;
                         attachTweet(value);
                    })
                }
            }
            
            function fetchTweet(url){
              console.log("fetching..");
              var fetchUrl;
              if (!url){
                  fetchUrl = "/api/tweet/"
              }
              else{
                  fetchUrl = url
              }
              $.ajax({
                url : fetchUrl,
                data : {
                    "q":query
                },
                method:"GET",
                success:function(data){
                
                    if(data.next){
                        next_tweet_url = data.next
                    }
                    else{
                        $("#loadmore").css("display", "none")
                    }
                

                    tweetList = data.results
                    parseTweet()
                    //console.log(data)

                },
                error:function(data){
                    console.log("error")
                    console.log(data)
                }
               })  
            }
            fetchTweet()
            $("#loadmore").click(function(event){
                event.preventDefault()
                if(next_tweet_url){
                    fetchTweet(next_tweet_url)
                }
                //load more items
            })
            var countStart = 140
            var charCurrent = 0
            $("#tweet-form").append("<span id='tweetChars'>" + countStart + "</span>")
            
            $("#tweet-form textarea").keyup(function(event){
                //console.log(event)
                var tweetValue = $(this).val()
                var spanChars = $("#tweetChars")
                charCurrent = countStart - tweetValue.length
                spanChars.text(charCurrent)
                if (charCurrent > 0){
                    //remove class
                    spanChars.removeClass("grey-color")
                    spanChars.removeClass("red-color")
                }
                else if (charCurrent == 0){
                    //add grey class
                    spanChars.removeClass("red-color")
                    spanChars.addClass("grey-color")
                }
                else if(charCurrent < 0){
                    //add red class
                    spanChars.addClass("red-color")
                    spanChars.removeClass("grey-color")
                }
                
            })
            
            $("#tweet-form").submit(function(event){
                event.preventDefault()                
                var this_ = $(this)
                
                var formData = this_.serialize()
                if(charCurrent>=0){
                $.ajax({
                    url:"/api/tweet/create/",
                    data:formData,
                    method:"POST",
                    success:function(data){
                        this_.find("input[type=text], textarea").val("");
                        attachTweet(data, true);
                    //    console.log(data)
                    //   fetchTweet()
                    },
                    error:function(data){
                        console.log("error")
                        console.log(data)
                    }
                  }) 
                }
                else{
                    console.log("Can't not send, tweet too long.");
                    
                }
            })
            
        });
        
    </script>
{% endblock script %}


{% block content %}
    <div class='row'>
        <div class="col-sm-3 col-xs-12">
            <h1>{{request.user}}</h1>
        </div>
            <div class="col-sm-9">
                {% if not request.GET.q %}
                    <div class="">
                        {% include "tweets/form.html/" with form=create_form action_url=create_url btn_title='Tweet' form_id='tweet-form' %} 
                    </div>
                    <hr/>
                {% endif %}
                <div id='tweet-container'>
                    
                </div>
                <a href="#" id="loadmore">load more tweet</a> 
           </div>
<!--
        {% for object in object_list %}
            <div class="media">
                <div class="media-left">
                <a href="#">
                    {% if object.image %}
                        <img class="media-object" src="..." alt="...">
                    {% endif %}
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                {{object.content}} <br />
                via  {{object.user}} | {{object.timestamp|timesince}} ago <br /> <a href='{{ object.get_absolute_url }}'>read more</a>
              </div>
            </div>
            <hr />
        {% endfor %}
-->
    </div>
{% endblock content %}